{% extends "main/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Participants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Participants</h1>

    <!-- Debugging: Sprawdzenie danych użytkownika -->
    <p>Current User: {{ user.email }}</p>
    <p>Is Coordinator: {{ user.coordinator }}</p>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Fortress</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Additional Info</th>
        </tr>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.id }}</td>
            <td>{{ participant.fortress }}</td>
            <td>{{ participant.first_name }}</td>
            <td>{{ participant.last_name }}</td>
            <td>{{ participant.email }}</td>
            <td>{{ participant.phone_number }}</td>
            <td>{{ participant.additional_info }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if user.coordinator %}
    <h2>Add Participant</h2>
    <form action="{{ url_for('auth.add_user_as_coordinator') }}" method="POST">

        <label for="fortress">Fortress:</label>
        <input type="text" name="fortress" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required>

        <button type="submit">Add Participant</button>
    </form>

    <h2>Send message to all participants</h2>

        <label for="text">Message:</label>
        <textarea name="text" required></textarea>
        <button type="submit">Send message</button>
    </form>

</body>
</html>
    {% endif %}
</body>
</html>
{% endblock %}
